@using System.Linq
@using FindCrawler

@model EPiBooks.Models.SearchResultModel

@{
    ViewBag.Title = "Search Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchWrapper">
    @using(Html.BeginForm("GetHits","Search", FormMethod.Post)){
        @Html.TextBox("query");
        @Html.DropDownListFor(x => x.SelectedSite, new SelectList(Model.Sites, "value", "key"))
        <input type="submit" value="search" />
    }

    @if (Model.SearchResults != null) {
        <div id="HitsFound">Found <strong>@Model.SearchResults.TotalMatching</strong> matching items</div>
        <div id="Hits">
            @foreach (var item in Model.SearchResults.Hits) {   
                <div class="hit">
                    <a href="@item.Document.UrlToDocument">@Html.Raw(item.Document.HtmlPage.Title.TruncateOnWordBoundary(90))</a>
                    @if (item.Document.HtmlPage.TextBlocks.Any()) {
                        <p>@Html.Raw(item.Document.HtmlPage.TextBlocks[0].TruncateOnWordBoundary(500))</p>
                    } else {
                        <p>No preview text found...</p>
                    }
                    <div class="images">
                        @{ 
                            var processed = 0;
                            var images = item.Document.HtmlPage.ImageSources.Where(x => x.ToLowerInvariant().Contains("upload") ||
                                                                                        x.ToLowerInvariant().Contains("pagefiles"))
                                                                            .Where(y => !y.ToLowerInvariant().Contains("toppbanners")).ToList();
                            var numberOfImages = images.Count;
                            var middleImages = new List<string>();
                            if(numberOfImages > 4) {
                                middleImages = images.GetRange(numberOfImages / 2 - 2, numberOfImages / 2 + 2);
                            }else {
                                middleImages = images;
                            }
                        }
                        @foreach (var image in middleImages) {
                            if (processed > 3) {
                                break;
                            }
                            <img src="@(new Uri(new Uri(Model.SelectedSite), image).ToString())" alt="@Html.Raw(item.Document.HtmlPage.Title)" />
                            processed++;
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>