@using EPiServer.Web.Mvc.Html
@using EPiBooks.Models

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Href(Url.Content("~/Content/Normalize.css"))" media="all"/>
    <link rel="stylesheet" href="@Href(Url.Content("~/Content/Site.css"))" media="all"/>
</head>
<body>
    @{Html.RenderEPiServerQuickNavigator();}
    <section id="MainSection">  
        @Html.Partial("TopMenu", new NavigationContext())
        @RenderBody()
    </section>
</body>
</html>
