@using ServiceStack.Mvc
@using EPiServer.Web.Mvc.Html
@using EPiBooks.Models

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @if (HttpContext.Current.IsDebuggingEnabled) {
        @Html.RenderCssBundle("~/Content/app.css.bundle", BundleOptions.Normal)
        @Html.RenderJsBundle("~/Scripts/app.js.bundle", BundleOptions.Normal)
    } else {
        @Html.RenderCssBundle("~/Content/app.css.bundle", BundleOptions.MinifiedAndCombined)
        @Html.RenderJsBundle("~/Scripts/app.js.bundle", BundleOptions.MinifiedAndCombined)
    }
</head>
<body id="@ViewBag.BodyId">
    @{Html.RenderEPiServerQuickNavigator();}
    <section id="MainSection">  
        @Html.Partial("TopMenu", new NavigationContext())
        @RenderBody()
    </section>
</body>
</html>
